@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}
.modal-content{
  background-color: transparent;
  border: none;
}
.modal-loading{
  top: 25% !important;
  border: none;
}
.loading{
  position: absolute;
  top: 100%;
  left: 40%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left: 2px solid #fff;
  animation: spin 1s linear infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg);
  }
}
#mensajeria .mensajes{
  max-height: 70vh;
}

#mensajeria .toast-mensaje{
  width: 100%;
  overflow: hidden;
}
#mensajeria .btn-msj{
  border: none;
  width: 100%;
  background-color: transparent;
}
#mensajeria .btn-msj:hover{
  color: black;
}
#mensajeria .respuesta-email:hover{
  text-decoration: none;
  color: #fff;
}